:root {
  .txt-bold {
    font-size: 20px;
    font-weight: bold;
  }

  .txt-light {
    font-size: 18px;
    color: var(--greyL2);
  }

  .txt-title {
    font-weight: bold;
    font-size: 25px;
    color: var(--brown2);
  }

  .txt-subtitle {
    font-size: 22px;
    color: var(--brown2);
  }
}