<nav-bar
  [title]="'Angular Boilerplate'"
></nav-bar>
<div>
  <h2>This is Home Page</h2>
  <button (click)="apiTest()" mat-raised-button>Call API</button>
  <button (click)="goToTestPage()" mat-raised-button>Angular Router</button>
  <mat-checkbox>Using Angular Material</mat-checkbox>
  <p class="txt-title">Using Global SCSS</p>
</div>
<h2>Testing</h2>
